/* navbar */
nav {
     background-color: #00aeef;
     border-bottom: solid 3px #03a1dc
}
.pre-head {
    color: #fff;
    font-size: 28px;
    font-family: "Arial Black";
    line-height: 1em;
    margin-top: 10px;
    text-shadow: 0px 3px #03a1dc
}
.pre-head span {
    font-family: "Arial";
    font-weight: 400;
    color: #fff;

}
