/* PAYROLL SCSS */
td {
     font-family: $OpenSans-Regular;
}
th {
     font-family: $OpenSans-Bold;
}
.create-payslip {
     label {
          font-family: $OpenSans-Regular;
          font-weight: 400;
          font-size: 16px;
          margin-bottom: 0px;
          width: 100%;
          max-width: 250px;
          float: left;
          clear: left;
          text-align: right;
          padding-right: 10px;
          vertical-align: middle;
          height: 35px;
          padding-top: 8px;
     }
     input {
          border-radius: 3px;
          height: 35px;
          border: solid 1px #cccccc;
          width: 100%;
          max-width: 150px;
          margin-bottom: 15px;
          padding: 0 5px;
          float: left;
          text-align: right;
     }
     input[type='submit'], input[type='date'] {
          text-align: center;
     }
     .pee-header, .ped-header {
          float: left;
          clear: left;
     }

}
